@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&family=Tomorrow:wght@500&display=swap');

#box1 {
    text-align: center;
    font-family: 'Rubik Puddles';
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text {
    font-family: 'Tomorrow';
}

#box2 {
    width: 200px; 
    height: 200px; 
    background-color: red;
}

#box3 {
    width: 200px; 
    height: 200px; 
    background-color: salmon;
}

#box4 {
    width: 200px; 
    height: 200px; 
    background-color: green;
}

#box5 {
    width: 200px; 
    height: 200px; 
    background-color: purple;
}

#key {
    width: 200px; 
    height: 200px; 
    border: 2px solid black;
}